* {
    text-align: center;
}

.show {
    display: none;
}

header{
    display: flex;
    background-color:darkturquoise;
    justify-content: space-between;
    width: 100%;
}

h1 {
    font-size: 36px;
    padding: 10px;
    order: 2;
}

header p {
    font-size: 20px; 
    margin: 1% 20%;
}

header a {
    text-decoration: none;
    color: black;
    font-size: 22px;
    order: 3;
}

#timer {
    order: 1;
}

body p {
    background-color: darkturquoise;
    font-size: 22px;
    margin: 0 10%;
}

#start {
    width: 200px;
    font-size: 40px;
}

#choices {
    font-size: 18px;
    padding: 20px;
    background-color:deeppink
}

body {
    background-color: deeppink;
}

li {
    font-size: 16px;
    margin: 15px 40%;
    border-radius: 20px;
}

section button {
    font-size: 20px;
    margin: 20px 0 0 45%;
}

h2 {
    font-size: 24px;
}

#high li {
    list-style: decimal;
    background-color:darkturquoise;
    font-size: 19px;
    letter-spacing: 2px;
    font-family: monospace;
}

#choices li:hover {
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
}

#highscore {
    margin: 10px;
}

@media screen and (max-width: 750px){
    li{
        margin: 15px 25%;
    }
}